{% extends 'akapp/base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
    <span class="text-secondary">案件新規作成</span><br>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <input type="submit" class="btn btn-primary btn-sm" value="保存">
        <input type="reset" class="btn btn-outline-primary btn-sm" value="キャンセル">
        <a href="{% url 'akapp:index' %}">戻る</a>
    </form>
</div>
{% endblock %}


